.navbar navbar-default {width: 100%;}
.navbar-header {font-family: bold;
font-size: 36px;}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #666;
}

.copyright {align-content: center;
margin: auto;
width: 50%;
color:white;}